.logincontent {
    padding: 20px;
}

.cpTitle {
    padding-bottom: 10px; 
    border-bottom: 2px solid black; 
    font-size: 1.25em;
}

.cpUser {
    text-align: center;
    color: #900;
    font-size: 1.75em;
    font-weight: bolder;
}

.cpInput {
    width: 150px; 
    text-align: right; 
    float: left; 
    font-size: 1.1em;
    margin: 3px;
}

.cpButton {
    width: 130px; 
}

.cpError {
    color:#A00;
}


/*****[ Media Queries ]*****/
@media (max-width: 768px) {
    .cpInput {
        width: 125px; 
        font-size: .85em;
    }
    .cpUser {
        font-size: 1.25em;
    }
}
@media (min-width: 992px){
    .cpInput {
        width: 100px; 
    }
    .cpUser {
        color: #900;
    }
}
@media (min-width: 1200px) {
    .cpInput {
        width: 100px; 
        font-size: .85em;
    }
    .cpUser {
        text-align: center;
        font-size: 1.10em;
    }
}
@media (min-width: 1440px) {
    .cpInput {
        width: 125px; 
        font-size: 1.0em;
    }
    .cpUser {
        font-size: 1.25em;
    }
}

@media only screen (min-device-width : 414px) and (max-device-width : 736px) { 

}  /*****[ IPhone 6  ]*****/
@media only screen (min-device-width : 375px) and (max-device-width : 667px) { 

}  /*****[ IPhone 6+ ]*****/

