.logoffContent {
    font-size: 1.5em;
    color: rgba(50,50,50,0.75); 
    text-align: center; 
}

/*****[ Media Queries ]*****/
@media (max-width: 768px) { 
    .logoffContent {
        margin: 20px; 
    }
}
@media (min-width: 992px){ 
    .logoffContent {
        margin: 35px; 
    }
}
@media (min-width: 1200px) { 
    .logoffContent {
        margin: 50px; 
    }
}

@media (min-width: 1440px) { 
    .logoffContent {
        margin: 50px; 
    }
}

@media only screen (min-device-width : 414px) and (max-device-width : 736px) { }  /*****[ IPhone 6  ]*****/
@media only screen (min-device-width : 375px) and (max-device-width : 667px) { }  /*****[ IPhone 6+ ]*****/

